In [2]:
from pandas_datareader import data,wb
import pandas as pd
import numpy as np
from datetime import datetime
%matplotlib inline

<h1>Data</h1>
<p>We need to get data using pandas datareader. We will get stock information for the following banks between year 2006 and 2016:</p>
<ul>
    <li>Bank of America</li>
    <li>CitiGroup</li>
    <li>Goldman Sachs</li>
    <li>JPMorgan Chase</li>
    <li>Morgan Stanley</li>
    <li>Wells Fargo</li>
</ul>

In [3]:
start = datetime(2006,1,1)
end= datetime(2016,1,1)

In [4]:
BAC = data.get_data_yahoo("BAC",start=start,end=end)
C = data.get_data_yahoo("C",start=start,end=end)
GS = data.get_data_yahoo("GS",start=start,end=end)
JPM = data.get_data_yahoo("JPM",start=start,end=end)
MS = data.get_data_yahoo("MS",start=start,end=end)
WFC = data.get_data_yahoo("WFC",start=start,end=end)

In [5]:
tickers = ["BAC","C","GS","JPM","MS","WFC"]

In [6]:
bank_stocks = pd.concat([BAC,C,GS,JPM,MS,WFC],axis=1,keys=tickers)

In [8]:
bank_stocks.columns.names = ['Bank Tickers','Stock Info']

In [9]:
bank_stocks.head()

Bank Tickers        BAC                                               \
Stock Info         High        Low       Open      Close      Volume
Date
2006-01-03    47.180000  46.150002  46.919998  47.080002  16296700.0
2006-01-04    47.240002  46.450001  47.000000  46.580002  17757900.0
2006-01-05    46.830002  46.320000  46.580002  46.639999  14970700.0
2006-01-06    46.910000  46.349998  46.799999  46.570000  12599800.0
2006-01-09    46.970001  46.360001  46.720001  46.599998  15619400.0

Bank Tickers                      C                                      ...  \
Stock Info    Adj Close        High         Low        Open       Close  ...
Date                                                                     ...
2006-01-03    34.596096  493.799988  481.100006  490.000000  492.899994  ...
2006-01-04    34.228691  491.000000  483.500000  488.600006  483.799988  ...
2006-01-05    34.272778  487.799988  484.000000  484.399994  486.200012  ...
2006-01-06    34.221321  489.000000  482.000000  488.799988  486.200012  ...
2006-01-09    34.243366  487.399994  483.000000  486.000000  483.899994  ...

Bank Tickers         MS                                         WFC  \
Stock Info         Open      Close     Volume  Adj Close       High
Date
2006-01-03    57.169998  58.310001  5377000.0  36.786667  31.975000
2006-01-04    58.700001  58.349998  7977800.0  36.811905  31.820000
2006-01-05    58.549999  58.509998  5778000.0  36.912865  31.555000
2006-01-06    58.770000  58.570000  6889800.0  36.950710  31.775000
2006-01-09    58.630001  59.189999  4144500.0  37.341850  31.825001

Bank Tickers
Stock Info          Low       Open      Close      Volume  Adj Close
Date
2006-01-03    31.195000  31.600000  31.900000  11016400.0  20.658106
2006-01-04    31.365000  31.799999  31.530001  10870000.0  20.418499
2006-01-05    31.309999  31.500000  31.495001  10158000.0  20.395836
2006-01-06    31.385000  31.580000  31.680000   8403800.0  20.515644
2006-01-09    31.555000  31.674999  31.674999   5619600.0  20.512400

[5 rows x 36 columns]